{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="main-content">
    <div class="jumbotron">
        <h1>Welcome to SimplePaste!</h1>
        <p>A pastebin website that generates easy-to-read codes.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('show_paste', pid = 1) }}">Feeling
                lucky!</a>
        </p>
    </div>

    <h2>Add a new paste</h2>
    <form method="POST" action="/submit">
        {{ content_form.csrf_token }}
        <div class="col-xs-12">
            {{ content_form.content(class="form-control", id="content", rows="9")|safe }}
            <small id="contentHelp" class="form-text text-muted">Your paste content will be visible on the
                internet. Please do not upload contents that violate the laws of China and the United States.</small>
        </div>
        {{ content_form.submit(type="submit", class="btn btn-primary mb-2") }}
    </form>

</div>
{% endblock %}